<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title id="title">星投资_接口文档_投资人</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"
    href="webjars/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="webjars/css/global.css">
<link rel="stylesheet" type="text/css" href="webjars/css/jquery.json-viewer.css">
</head>
<body>
<script id="template" type="text/template">
    <div class="layui-layout layui-layout-admin"
        style="border-bottom: solid 3px #1aa094;">
        <div class="layui-header header "> 
            <div class="layui-main">
                <div class="admin-login-box logo">
                        <span>{{:info.title}}<small class="version">{{:info.version}}</small></span>
                </div>
            </div>
        </div>
        <div class="layui-side layui-bg-black" id="admin-side">
            <div class="layui-side-scroll" id="admin-navbar-side"
                lay-filter="side">
                <ul class="layui-nav layui-nav-tree beg-navbar">
                    {{for tags itemVar="~tag"}}
                        {{if name != "basic-error-controller"}}
                        <li class="layui-nav-item"><a href="javascript:;"><i class="fa fa-cogs" aria-hidden="true" data-icon="fa-cogs"></i>
                            <cite>{{:name}}</cite><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                {{!--获取tags下面对应的方法--}}
                                {{props ~root.paths itemVar="~path"}}
                                    {{!--具体方法--}}
                                    {{props prop}}
                                        {{if prop.tags[0] == ~tag.name}}
                                            <dd title="{{:key}} {{:prop.description}}">
                                                <a href="javascript:;" name="a_path" path="{{:~path.key}}" method="{{:key}}" operationId="{{:prop.operationId}}">
                                                    <i class="fa fa-navicon" data-icon="fa-navicon"></i>
                                                    <!-- <cite class="">{{:~path.key}}</cite> -->
                                                    <cite class="{{:key}}_font pl10">{{:prop.summary}}</cite>
                                                </a>
                                            </dd>
                                        {{/if}}
                                    {{/props}}
                                {{/props}}
                            </dl>
                        </li>
                        {{/if}}
                    {{/for}}
				</ul>
            </div>
        </div>
        <div class="layui-body site-content" id="path-body"
            style="border-left: solid 2px #1AA094;">
            {{!-- body 内容  $ref = temp_body --}}
            <fieldset class="layui-elem-field layui-field-title">
                <legend>相关地址</legend>
            </fieldset>
            <table class="layui-table">
                <tbody>
                    <tr>
                        <th>投资人接口文档</th>
                        <td><a href="investor.html" target="_blank" style="color: blue;">投资人接口文档</a></td>
                        <td>投资人相关接口定义文档</td>
                    </tr>
                    <tr>
                        <th>借款人接口文档</th>
                        <td><a href="borrowers.html" target="_blank" style="color: blue;">借款人接口文档</a></td>
                        <td>借款人相关接口定义文档</td>
                    </tr>
                    <tr>
                        <th>测试环境接口地址前缀</th>
                        <td>http://218.244.141.170:8080</td>
                        <td>接口地址=前缀+path，如登录接口地址=http://218.244.141.170:8080/api/investor/account/login</td>
                    </tr>
                    <tr>
                        <th>正式环境接口地址前缀</th>
                        <td>https://www.xingtouzi.com</td>
                        <td>接口地址=前缀+path，如登录接口地址=https://www.xingtouzi.com/api/investor/account/login</td>
                    </tr>
                </tbody>
            </table>


            <fieldset class="layui-elem-field layui-field-title">
                <legend>接口通用说明</legend>
            </fieldset>
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td>1、涉及到交易金额的字段值，如无特别说明，默认都为保留两位小数的字符串。</td>
                    </tr>
                    <tr>
                        <td>2、所有涉及到查询用户敏感信息（身份证号，邮箱，手机号等）的返回，都需模糊化后返回；<br/>
                            且因为此时用户一般都已登陆（有了登陆凭证token），若前台要用到用户真实信息
                            （比如修改邮箱等操作时需发送验证码验证用户身份），<br/>
                            只需用带token的接口请求即可，不必传入真实信息。（后台可根据token，查找用户真实信息，做出对应操作）</td>
                    </tr>
                    <tr>
                        <td>3、若在未登录情况下请求需要登录凭证token或者token无效的接口，默认报错code都为69633 。</td>
                    </tr>
                    <tr>
                        <td>4、密码格式为 8-15位的大小写字母和数字（传入后台时需RSA加密）。</td>
                    </tr>
                    <tr>
                        <td>5、需要返回时间的字段，若无特别备注，格式统一为字符串形式的时间戳。（例："1506071684489"）</td>
                    </tr>
                    <tr>
                        <td>6、涉及到分页的接口，pageSize > 20 时， 按 pageSize == 20 返回。</td>
                    </tr>
                    <tr>
                        <td>7、部分错误码：
                            <ol style="margin-left: 40px;">
                                <li>0:"success"</li>
                                <li>69633:"用户未登录"</li>
                                <li>20000:"客户端错误"</li>
                                <li>30000:"参数非法"</li>
                                <li>40000:"业务异常"</li>
                                <li>50000:"接口不存在"</li>
                                <li>60000:"系统异常"</li>
                                <li>70000:"交易处理中" （请求宝付相关接口时）</li>
                                <li>40200:"请输入图形验证码" （请求登录接口时）</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        {{if info.license}}
        <div class="layui-footer footer">
            <div class="layui-main">
                <a href="{{:info.license.url}}" target="blank">{{:info.license.name}}</a></p>
            </div>
        </div>
        {{/if}}
    </div>
</script>
<script id="temp_body" type="text/template">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this"><span class="method {{:method}}" m_operationId ="{{:operationId}}" path="{{:path}}" method = "{{:method}}">{{:method}}</span>{{:path}}</li>
            <li>Debug</li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0px 0px; height: 803px;">
            <div class="layui-tab-item layui-show">
              <table class="layui-table">
              <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th>Path</th>
                  <td colspan="3">{{:path}}</td>
                </tr>
                <tr>
                  <th>Summary</th>
                  <td colspan="3">{{:summary}}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td colspan="3">{{:description}}</td>
                </tr>
                <tr>
                  <th>Consumes</th>
                  <td>{{:consumes}}</td>
                  <th>Produces</th>
                  <td>{{:produces}}</td>
                </tr>
              </tbody>
            </table>
            <fieldset class="layui-elem-field layui-field-title" >
                <legend>Parameters</legend>
            </fieldset>
            <table class="layui-table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Parameter Type</th>
                    <th>Data Type</th>
                    <th>Required</th>
                </tr> 
              </thead>
              <tbody>
                {{for parameters}}
                    <tr>
                        <td>{{:name}}</td>
                        <td>{{:description}}</td>
                        <td>{{:in}}</td>
                        <td>{{:type}}</td>     
                        {{if required}}
                            <td><i class="layui-icon">&#xe618;</i></td>
                        {{else}}
                            <td></td>
                        {{/if}}                   
                    </tr>
                {{/for}}
              </tbody>
            </table>
            <fieldset class="layui-elem-field layui-field-title" >
                <legend>Responses</legend>
            </fieldset>
            <div class="responseJson"><pre id="responseData"></pre></div>
            <table class="layui-table" style="display: none;">
              <thead>
                <tr>
                    <th>Properties</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr> 
              </thead>
              <tbody id="path-body-response-model">
              </tbody>
            </table>
            </div>
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field layui-field-title" >
                    <legend>Parameters</legend>
                </fieldset>
                <div class="method-type">
                    <lable>Parameter Type : </lable>
                    <input type="hidden" id="content_type_{{:operationId}}" value="form">
                    <button id="pt_form_{{:operationId}}" type="form" operationId = "{{:operationId}}" onclick="changeParameterType(this)" class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius">Form</button>
                    <button id="pt_json_{{:operationId}}" type="json" operationId = "{{:operationId}}" onclick="changeParameterType(this)" class="layui-btn layui-btn-small layui-btn-primary layui-btn-radius">Json</button>
                </div>
                <textarea class="parameter-text hide" rows="10" id="text_tp_{{:operationId}}"></textarea>
                <table class="layui-table"  id="table_tp_{{:operationId}}">
                  <colgroup>
                    <col width="150">
                    <col>
                    <col>
                    <col width="150">
                    <col width="150">
                   <col>
                  </colgroup>
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Parameter Type</th>
                        <th>Data Type</th>
                        <th>Required</th>
                    </tr> 
                  </thead>
                  <tbody>
                    {{for parameters}}
                        <tr>
                            <td>{{:name}}</td>
                            <td>
                            {{if required}}
                                <input type="text" p_operationId="{{:~root.operationId}}" name="{{:name}}" in="{{:in}}" required="required" placeholder="required" autocomplete="off" class="layui-input">
                            {{else}}
                                <input type="text" p_operationId="{{:~root.operationId}}" name="{{:name}}" in="{{:in}}" autocomplete="off" class="layui-input">
                            {{/if}}  
                            </td>
                            <td>{{:description}}</td>
                            <td>{{:in}}</td>
                            <td>{{:type}}</td>     
                            {{if required}}
                                <td><i class="layui-icon">&#xe618;</i></td>
                            {{else}}
                                <td></td>
                            {{/if}}                   
                        </tr>
                    {{/for}}
                  </tbody>
                </table>
                <div>
                    <button class="layui-btn" name="btn_submit" onclick="getData('{{:operationId}}')"> Submit </button>
                </div>
                <fieldset class="layui-elem-field layui-field-title" >
                    <legend>Responses</legend>
                </fieldset>
                <div class="responseJson"><pre id="json-response"></pre>
            </div>
        </div>
    </div>
</script>
<script id="temp_body_response_model" type="text/template">
   {{props properties}}
    <tr>
        <td>{{:key}}</td>
        <td>{{:prop.type}}</td>
        <td>{{:prop.description}}</td>
    </tr>
   {{/props}} 
</script>
</body>
<script src="webjars/layui/layui.js"></script>
<script src="webjars/js/jquery.js"></script>
<script src="webjars/js/jsrender.min.js"></script>
<script src="webjars/js/jquery.json-viewer.js"></script>
<script src="webjars/js/investor.js"></script>
</html>
